styles.css



.smt_homebanner{
	position: relative;
	display: block;
	clear: both;
	overflow: hidden;
	margin-top: 0;
	padding: 0;
	width: 100%;
	background-color: url(image parking.jpg) no-repeat top centet;
}









