.container {
    background: #D8D8D8;
    margin-bottom: 20px;
    padding: 50px;
}

header,
footer {
    clear: both;
    float: left;
    width: 100%;
}

.main {
    float: left;
    width: 30%;
    margin-right: 45px;
}

.sidebar1 {
    float: left;
    width: 30%;
}

.sidebar2 {
	float: right;
    width: 30%;

}
