.container {
    background: #D8D8D8;
    margin-bottom: 20px;
    padding: 50px;
}

header,
footer {
    clear: both;
    width: 100%;
    
}

.main {
    float: left;
    width: 30%;
        margin-right: 45px;
}

.main .container {
	min-height: 250px;
}
.sidebar1 .container {
	min-height: 250px;

}
.sidebar2 .container {
	min-height: 250px;
}
.sidebar1 {
    float: left;
    width: 30%;
    min-height: 250px;
}

.sidebar2 {
	float: right;
    width: 30%;
   
}

footer {
	margin-top: 10px;
}